<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form #jobForm="ngForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
          <label for="fullName">FullName*</label>
          <input required pattern="[A-Za-z]+$" minlength="3" maxlength="50" ngModel #fullName="ngModel" name="fullName"
            type="text" class="form-control">
          <p class="text-danger" *ngIf="fullName.touched && fullName.hasError('required')">FullName is a required
            field</p>
          <p class="text-danger" *ngIf="fullName.dirty && fullName.hasError('pattern')">FullName should contains
            alphabets only</p>
          <p class="text-danger" *ngIf="fullName.dirty && fullName.hasError('minlength')">The minlength of fullname
            should be {{fullName.errors?.['minlength'].requiredLength}}
            and the actual length of fullname is {{fullName.errors?.['minlength'].actualLength}}</p>
          <p class="text-danger" *ngIf="fullName.dirty && fullName.hasError('maxlength')">The maxlength of fullname
            should be {{fullName.errors?.['maxlength'].requiredLength}}
            and the actual length of fullname is {{fullName.errors?.['maxlength'].actualLength}}</p>
          <p class="text-success" *ngIf="fullName.dirty && fullName.valid">This is a valid fullname</p>
        </div>

        <div class="form-group">
          <label for="email">Email*</label>
          <input required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}" ngModel #email="ngModel" name="email"
            type="text" class="form-control">
          <p class="text-danger" *ngIf="email.touched && email.hasError('required')">Email is a required field</p>
          <p class="text-danger" *ngIf="email.dirty && email.hasError('pattern')">Plz Enter Valid Email Id</p>
          <p class="text-success" *ngIf="email.dirty && email.valid">This is a valid email id</p>
        </div>

        <div class="form-group">
          <label for="mobileNo">Mobile Number*</label>
          <input required pattern="^[0-9]{10}$" ngModel #mobileNo="ngModel" name="mobileNo" type="text"
            class="form-control">
          <p class="text-danger" *ngIf="mobileNo.touched && mobileNo.hasError('required')">Mobile number is a
            required field</p>
          <p class="text-danger" *ngIf="mobileNo.dirty && mobileNo.hasError('pattern')">Plz Enter 10 digit mobile
            number</p>
          <p class="text-success" *ngIf="mobileNo.dirty && mobileNo.valid">This is a valid mobile number</p>
        </div>

        <div class="form-group">
          <label for="experience">Experience*</label>
          <input required ngModel #experience="ngModel" name="experience" type="text" class="form-control">
          <p class="text-danger" *ngIf="experience.touched && experience.hasError('required')">Experience is a
            required field</p>
        </div>

        <div class="form-group">
          <label for="skills">Skills*</label>
          <br>
          <label for="HTML"><input ngModel #HTML="ngModel" name="HTML" type="checkbox">HTML</label>
          <br>
          <label for="CSS"><input ngModel #CSS="ngModel" name="CSS" type="checkbox">CSS</label>
          <br>
          <label for="JS"><input ngModel #JS="ngModel" name="JS" type="checkbox">JS</label>
          <br>
          <label for="Angular"><input ngModel #Angular="ngModel" name="Angular" type="checkbox">Angular</label>
          <br>
          <label for="Node"><input ngModel #Node="ngModel" name="Node" type="checkbox">Node</label>
          <br>
          <label for="Express"><input ngModel #Express="ngModel" name="Express" type="checkbox">Express</label>
          <br>
          <label for="Mongo-DB"><input ngModel #Mongo_DB="ngModel" name="Mongo_DB" type="checkbox">Mongo_DB</label>
        </div>

        <div class="form-group">
          <label for="resumeURL">Resume URL*</label>
          <input required pattern="https?://.+" ngModel #resumeURL="ngModel" name="resumeURL" type="url"
            class="form-control">
          <p class="text-danger" *ngIf="resumeURL.touched && resumeURL.hasError('required')">Resume URL is a
            required field</p>
          <p class="text-danger" *ngIf="resumeURL.dirty && resumeURL.hasError('pattern')">Plz Enter valid URL</p>
          <p class="text-success" *ngIf="resumeURL.dirty && resumeURL.valid">This is a valid URL</p>
        </div>

        <div class="form-group">
          <label for="salary">Expected salary*</label>
          <input required ngModel #salary="ngModel" name="salary" type="number" min="10000" class="form-control">
          <p class="text-danger" *ngIf="salary.touched && salary.hasError('required')">Resume URL is a
            required field</p>
          <p class="text-danger" *ngIf="salary.dirty && salary.hasError('min')">Expected Salary should be greater than
            10000</p>
          <p class="text-success" *ngIf="salary.dirty && salary.valid">This is a valid Salary</p>
        </div>

        <button class="btn btn-sm btn-block btn-warning">Apply</button>
      </form>
    </div>
  </div>
</div>